<html>
    <head>
        <title>
            About
        </title>
        <body>
            {{> header}}123
            <p>some text here</p>
            {{> footer}}
        </body>
    </head>
</html>