<html>
    <head>
        <title>
            some website
        </title>
        <body>
            {{> header}}
            <h2>Welcome {{screamIt welcome}}</h2>
            <p>some text here</p>
            {{> footer}}
        </body>
    </head>
</html>