<html>
    <head>
        <title>
            some website
        </title>
        <body>
            <h2>On Maintainance</h2>
            <p>Working in this page</p>
            {{> footer}}
        </body>
    </head>
</html>